!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Órbitas del Sistema Solar - Mecánica Celeste
    %link{rel: "stylesheet", href: "https://unpkg.com/purecss@0.6.1/build/pure-min.css"}
    %link{rel: "stylesheet", href: "https://unpkg.com/purecss@0.6.1/build/grids-responsive-min.css"}
    %link{rel: "stylesheet", href: "/main.css"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"}
    %script=Nyaplot.generate_init_code
  %body
    %header
      .title.wrapper Órbitas del Sistema Solar - Mecánica Celeste
      
    .wrapper
      .pure-g
        .pure-u-1.pure-u-lg-1-3
          %h2 Datos
          - @planets.zip(COLORS).each do |planet, color|
            %p
              %strong{style: "color: #{color}"}  #{planet.name}
              %ul
                %li longitud del semieje mayor: #{planet.a} AU
                %li longitud del semieje menor: #{"%.4f" % planet.b} AU
                %li período orbital: #{planet.period} días terrestres
                %li excentricidad: #{planet.ε} (#{"%.3f" % planet.ω} rad)
                %li energía (constante): #{"%e" % planet.energy}
                %li ángulos del plano orbital: i = #{"%.3f" % planet.i} rad, Ω = #{"%.3f" % planet.Ω} rad

          %a{href: "https://github.com/fdavidcl/celeste/raw/app/planets.yaml"} Datos en formato YAML
          
        .pure-u-1.pure-u-lg-2-3.pure-u-xl-1-2
          %h2 Órbitas
          %form.pure-form{action: "/", method: "GET"}
            %label{for: "time1"} Tiempo en días
            %input#time1{type: "number", placeholder: "Tiempo en días", value: @t, name: "t"}
            %input.pure-button.pure-button-primary{type: "submit", value: "Calcular"}

          .plots
            %p Utiliza la rueda del ratón para acercar y alejar los gráficos y arrastra sobre los gráficos para mover.
            = @frame.generate_body

        .pure-u-1
          %h2 Cálculos
          %form.pure-form{action: "/", method: "GET"}
            %label{for: "time2"} Tiempo en días
            %input#time2{type: "number", placeholder: "Tiempo en días", value: @t, name: "t"}
            %input.pure-button.pure-button-primary{type: "submit", value: "Calcular"}
          %table.pure-table
            %thead
              %tr
                %th Planeta
                %th Posición (Newton-Raphson)
                %th Posición (Fourier)
                %th Velocidad
                %th Momento angular
                
            - @planets.each do |planet|
              %tr
                %td= planet.name
                %td= "(%.4f, %.4f, %.4f)" % planet.position_for_eccentric(planet.eccentric_newton @t)
                %td= "(%.4f, %.4f, %.4f)" % planet.position_for_eccentric(planet.eccentric_fourier @t)
                %td= "(%.4f, %.4f, %.4f)" % planet.velocity(@t)
                %td= "(%.4f, %.4f, %.4f)" % planet.angular_moment(@t)
            
          %table.pure-table
            %thead
              %tr
                %th Planeta
                %th Cálculo de la energía
                %th Distancia al Sol
                %th Área barrida
            - @planets.each do |planet|
              %tr
                %td= planet.name
                
                %td= "%e" % planet.calculate_energy(@t)
                %td
                  = "%.4f" % planet.distance_to_sun(@t)
                  AU
                %td
                  = "%.4f" % planet.area(0, @t)
                  AU²

    %footer
      .wrapper.pure-g
        .pure-u-1.pure-u-lg-1-3
          %p
            &copy; 2016 David Charte, José Luis Marqués, Almudena Gálvez
          %p
            El código de este sitio está disponible en
            %a{href: "https://github.com/fdavidcl/celeste"} GitHub
            y se distribuye bajo la
            = surround "", "," do
              %a{href: "https://raw.githubusercontent.com/fdavidcl/celeste/master/LICENSE"} licencia AGPL
            Tecnologías utilizadas:
            %a{href: "https://www.gnu.org/software/gsl/"} GNU Scientific Library
            = surround "(", ")," do
              %a{href: "https://www.gnu.org/copyleft/gpl.html"} GPL
            %a{href: "https://github.com/domitry/nyaplot/"} Nyaplot
            = surround "(", ")," do
              %a{href: "https://github.com/domitry/nyaplot/blob/v2/LICENSE"} MIT
